language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  # - npm test
  # - npm run test:coverage
  - npm run deploy

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $repo_token
  local_dir: build
  on:
    branch: master
